---
import { Image } from 'astro:assets';

import type { ImageMetadata } from 'astro';
import type { AlbumInfo } from "../types/types";

import { sanitizeForDataAttribute } from "../utils/utils";

interface Props {
	album: AlbumInfo,
	index: number,
	reverseInfo?: boolean,
}

const { album, index, reverseInfo } = Astro.props;
const safeTitle: string = sanitizeForDataAttribute(album.title);

const covers = import.meta.glob<{ default: ImageMetadata }>('/src/assets/covers/*.{jpeg,jpg,webp,png,gif}')

const coverPath: string = album.cover === "" ?
	"/src/assets/covers/default.png" :
	`/src/assets/covers/${album.cover}`;

if (!covers[coverPath]) throw new Error(`"${coverPath}" does not exist in glob: "/src/assets/covers/*.{jpeg,jpg,webp,png,gif}"`);

const classList = reverseInfo ? "album album--reverseInfo" : "album";
---

<article class={classList} data-title={safeTitle}>
	<div class="album__info">
		<h2 class="album__title">
			{album.title}
		</h2>
		<div class="album__artist">{album.artist}</div>
		<div class="album__meta">{album.year} &middot; {album.label}</div>
	</div>
	<div class="album__cover">
		<Image src={covers[coverPath]()} alt="" widths={[240, 540]} />
	</div>
	<div class="album__rank">
		<span class="screen-reader-text">Ranked </span>{index + 1}
	</div>
</article>

<style lang="scss">
.album {
	position: relative;

	&__info {
		pointer-events: none;

		position: absolute;
		top: 50%;
		left: calc(100% + 8.2rem);
		z-index: 4;

		padding: 1.6rem;

		background-color: rgb(33 34 35 / .8);
		border-radius: 0.6rem;
		opacity: 0;

		color: #f1f2f3;

		transform: translateY(-50%);
		transition: z-index 0 ease-in-out .3s;
	}

	&__artist,
	&__title {
		white-space: nowrap;
	}

	&__title {
		margin-top: 0;
		margin-bottom: .6rem;

		font-size: 2.4rem;
		font-weight: 700;
	}

	&__artist {
		margin-bottom: 1rem;

		font-size: 2rem;
	}

	&__meta {
		font-size: 1.4rem;
	}

	&__cover {
		height: 3rem;
		width: 3rem;
		overflow: hidden;

		border-radius: 0.6rem;
		box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.025),
    0 0.2rem 0.4rem rgba(0, 0, 0, 0.05), 0 0.8rem 0.8rem rgba(0, 0, 0, 0.08),
    0 0.8rem 2.4rem rgba(0, 0, 0, 0.1);
		outline: .1rem solid rgb(33 34 35 / .2);

		transition: all .3s ease-in .2s;

		img {
			display: block;
			height: 100%;
			width: auto;

			object-fit: cover;
		}
	}

	&:hover {
		z-index: 9;

		transition: z-index 1s ease-in-out;

		.album__info {
			pointer-events: all;

			opacity: 1;
		}

		.album__cover {
			box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.025),
    	0 0.2rem 0.4rem rgba(0, 0, 0, 0.05), 0 0.8rem 0.8rem rgba(0, 0, 0, 0.08),
    	0 0.16rem 0.32rem rgba(0, 0, 0, 0.1);

			border-radius: 0.1rem;
			outline: .033rem solid rgb(33 34 35 / .2);

			transform: scale(6);
			transition: all .3s ease-in;
		}

		.album__rank {
			transform: translateY(-8.2rem);
		}
	}

	&__rank {
		pointer-events: none;

		position: absolute;
		top: -2rem;
		left: calc(50% - 1.7rem);

		display: grid;
		place-content: center;
		height: 3.2rem;
		width: 3.2rem;

		background-color: rgb(255 53 48 / 0.8);
		border: .2rem solid white;
		border-radius: 50%;
		opacity: 0;

		color: white;
		font-weight: 700;

		transition: all .3s ease-in-out;
	}

	&--reverseInfo {
		.album__info {
			left: unset;
			right: calc(100% + 8.2rem);

			transform: translateX(-100);
		}
	}

	&--revealRank {
		.album__rank {
			opacity: 1;
		}
	}
}
</style>